 @import url('https://fonts.googleapis.com/css?family=Lora|Mukta+Mahee:400,500,600,700');

 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }


 .wrapperHeader,
 p {
   font-family: Lora, serif;
 }

 .wrapper {
   display: block;
   width: 100%;
   height: auto;
   border: 5px double black;
   border-radius: 5px;
   margin: 120px 0;
 }

 .buttonList {
   display: inline-block;
   text-align: center;
 }