.wrapper {
    display: block;
    margin: 0 auto 30px auto;
    width: 100%;  
    background-color: transparent;
}

.logobox {
    height: 50px;
    text-align: center;
    padding: 20px;
}

.topnav {
    display: block; 
    margin: 0 auto;
    z-index: 1030;
    box-shadow: 0px 5px 4px rgba(0, 0, 10, 0.3);
    border: 0;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    min-height: 70px;
    padding-bottom: 10px;
    text-align: center;
}

.navigationmenu {
    display: flex;justify-items: right;  
    flex-wrap: wrap;
    width: 100%;
    font-size: 1.2rem;
    color: black;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    line-height: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.navigationlink,
.navigationdropdown,
.navigationdropdown:focus {
    display: block;
    font-size: 1.2rem;
    color: black;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    line-height: 20px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 20px 15px;
}

.navigationdropdown {
    margin-top: 13px;
    color: black;
}

.navigationdropdownitemlink,
nav,
Link {
    color: black;
}

.navigationlink:hover,
.navigationdropdownitemlink:hover {
    color: orange;
}

