@import url('https://fonts.googleapis.com/css?family=Lora|Mukta+Mahee:400,500,600,700');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.wrapper,
h2 {
    font-family: Lora, serif;
}


.wrapper {
    display: block;
    width: 90vw;
    margin: 0 0 0 30px;
}



.photo {
    display: block;
    width: 60%;
    margin: 0 auto;
    border-radius: 2%;
    box-shadow: 15px 15px 15px rgba(83, 83, 83, 0.63);

}

.description {
    display: block;
    font-size: 1.2rem;
    width: 90%;
    margin: 40px auto;
    line-height: 14px;
}


.postHeader {
    display: block;
    text-align: center;
    margin: 20px auto;

    &Title {
        display: inline;
        text-align: center;
    }
}