.wrapper {
    width: 100%;
    height: auto;
}

p {
    font-size: 1.25rem;
}

.post {
    min-height: 350px;
    height: auto;
    border: none;
  
}

.postImage {
    display: block;
    max-width: 500px;    
    width: auto;    
    height: auto;
    max-height: 700px;
    object-fit: cover;
    margin: 60px auto;
    border-radius: 2%;
    box-shadow: 15px 15px 15px rgba(83, 83, 83, 0.63);
    cursor: pointer;
}

.postHeader {
    display: block;
    text-align: left;
    margin: 20px auto 5px auto;

    &Title {
        display: inline;
        text-align: center;
    }
}

.description {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 20px auto;
    line-height: 14px;

    &Text {
        display: flex;
    }
}

.galleryWrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 15px;
    justify-items: center;
    align-items: center;
    width: 100%;
    padding: 20px 50px 50px 50px;
    
}

@media only screen and (max-width: 1200px) {
    .galleryWrapper {       
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
        
    }
  }

  @media only screen and (max-width: 800px) {
    .galleryWrapper {       
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        padding: 0 50px;
    }
    .postImage {
        display: block;
        max-width: 80%;    
        width: auto;    
        height: auto;        
        object-fit: cover;       
    }
    
  }
.galleryItemPhoto {
    width: 100%;
    min-height: 200px;
    height: auto;
    object-fit: cover;
    cursor: pointer;
}
