.wrapper {
    width: 100%;
    
}

p {
    font-size: 1.25rem;
}

.post {
    min-height: 350px;
    height: auto;
    border: none;
  
}

.postHeader {
    display: block;
    text-align: left;
    margin: 20px auto 5px auto;

    &Title {
        display: inline;
        text-align: center;
    }
}

.description {
    display: flexbox;
    width: 100%;
    margin: 20px auto;
    line-height: 14px;

    &Text {
        display: flex;
    }
}

.postImage {
    display: block;
    max-height: 500px;
    max-width: 500px;
    width: auto;
    height: auto;
    margin: 40px auto;
    border-radius: 2%;
    cursor: pointer;
    transition: .2s;
    box-shadow: 15px 15px 15px rgba(83, 83, 83, 0.63);
}

.postImage:hover {
    transform: scale(1.1);
    width: auto;
    height: auto;
}

.galleryWrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
    z-index: 0;
}

.galleryItemPhoto {
    display: block;
    width: 100%;
    height: auto;
    padding: 15px 15px;
    transition: .2s; 
}

.galleryItemPhoto:hover {
    display: block;
    transform: scale(1.6);
    width: auto;
    height: auto;
    z-index: 999;
    position: absolute;
}