.wrapper {
    width: 100%;
}

p {
    font-size: 1.25rem;
}

.post {
    min-height: 350px;
    height: auto;
}

.postHeader {
    display: block;
    text-align: left;
    margin: 20px auto 5px auto;

    &Title {
        display: inline;
        text-align: center;
    }
}

.description {
    display: flexbox;
    width: 100%;
    margin: 20px auto;
    line-height: 14px;

    &Text {
        display: flex;
    }
}

.postImage {
    display: block;
    max-height: 500px;
    max-width: 500px;
    margin: 40px auto;
    border-radius: 2%;
    box-shadow: 15px 15px 15px rgba(83, 83, 83, 0.63);
}