@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap&subset=latin-ext');


.wrapper,
h1 {
    font-family: 'Lato', sans-serif;
}


.logo {
    display: block;
    width: 30vw;
    margin: 30px auto;
    border-radius: 10px;
    box-shadow: 15px 15px 15px rgba(83, 83, 83, 0.63);

}

.post {
    margin: 50px auto;

    &Description {
        display: block;
        width: 99%;
        margin: 50px auto;
        font-family: 'Lato', sans-serif;
    }
}


.postHeader {
    display: block;
    text-align: center;
    margin: 20px auto;
    font-family: 'Lato', sans-serif;

    &Title {
        display: inline;
        text-align: center;
        font-family: 'Lato', sans-serif;
    }
}