.wrapperImage, .wrapperContact, .wrapperAddress {
    display: block;
    top: 0;
    left: 0;
    margin: 30px auto;
}

.wrapperAddress {
    margin-left: 0;
    margin-top: 40px;
}

.wrapperImage {
    margin-right: 0;
}

.wrapperAddressText {
    display: inline;
    text-align: center;
    font-size: 1.4rem;
}

.wrapperContact {
    width: 30vw;
}

.wrapperText {
    text-align: center;
    text-transform: uppercase;
}