.wrapper {
    width: 100vw;
}


.postHeader {
    display: block;
    text-align: center;
    margin: 20px auto;

    &Title {
        display: inline;
        text-align: center;
    }
}

.cell {    
    text-align: center;
}

.list {
    margin-left: 40px;
}