.wrapper {
    margin: 20px 0;
    height: auto;
}

.description {
    height: 40vh;
    font-family: 'Lato', sans-serif;
}

.postHeader {
    display: block;
    text-align: center;
    margin: 20px auto;
    font-family: 'Lato', sans-serif;

    &Title {
        display: inline;
        text-align: center;
        font-family: 'Lato', sans-serif;
    }
}

.post {
    margin: 50px auto;

    &Descritpion {
        display: block;
        width: 99%;
        margin: 50px auto;
        font-family: 'Lato', sans-serif;

        &Text {
            display: block;
            width: 99%;
            margin: 50px auto;
            font-family: 'Lato', sans-serif;
        }
    }
}

.photo {
    display: block;
    width: 20%;
    margin: 0 auto;
    border-radius: 2%;
    box-shadow: 15px 10px 10px rgba(83, 83, 83, 0.63);

}