.Logo {
    display: block;
    width: 30vw;
    margin: 30px auto;
    border-radius: 10px;
    box-shadow: 15px 15px 15px rgba(83, 83, 83, 0.63);

}

.description {
    width: 99%;
    margin: 10px 20px 30px 10px;
}

.contact {
    text-align: center;
    color: black;    
    text-decoration: none;
}

.source {
    color: black;
    font-size: .8rem;
    padding-top: 30px;
    padding-bottom: 30px;
}