@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap&subset=latin-ext');

.wrapperContact {
    display: block;
    top: 0;
    left: 0;
    margin: 30px auto;
    font-family: 'Lato', sans-serif;
}


.wrapperContact {
    width: 30vw;
    font-family: 'Lato', sans-serif;
}

.wrapperText {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
}


.postHeader {
    display: block;
    text-align: center;
    margin: 20px auto;
    font-family: 'Lato', sans-serif;

    &Title {
        display: inline;
        text-align: center;
        font-family: 'Lato', sans-serif;
    }
}

.singleImg {
    display: block;
    width: 90%;
    margin: 20px 10px 50px 100px;
    border-radius: 7%;
    box-shadow: 15px 15px 15px rgba(83, 83, 83, 0.63);

}

.Descritpion {
    display: block;
    width: 99%;
    margin: 30px auto;

    &Text {
        display: block;
        width: 99%;
        margin: 20px auto;
    }
}