
.cardItem {    
    height: 270px;
    margin: 10px 10px 30px 10px;
}

.cardImage {
    width: 95%;
    max-height: 100px;
    max-width: 150px;
    margin: 15px auto;
}

.Header {
    display: block;
    height: 70px;
}

.Header:hover {
    color: orange;
}