.logo {
    display: block;
    width: 60%;
    margin: 0 auto;
    border-radius: 2%;
    box-shadow: 15px 15px 15px rgba(83, 83, 83, 0.63);

}


.post {
    margin: 50px auto;
    font-family: 'Lato', sans-serif;

    &Descritpion {
        display: block;
        width: 99%;
        margin: 50px auto;
        font-family: 'Lato', sans-serif;

        &Text {
            display: block;
            width: 99%;
            margin: 50px auto;
            font-family: 'Lato', sans-serif;
        }
    }
}

.postHeader {
    display: block;
    text-align: center;
    margin: 20px auto;
    font-family: 'Lato', sans-serif;

    &Title {
        display: inline;
        text-align: center;
        font-family: 'Lato', sans-serif;
    }
}