@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap&subset=latin-ext');

body {
    color: black;
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none !important;
    color: #555;
}

a:hover {
    color: #d09c8e;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lato', sans-serif;
}