
@import url('https://fonts.googleapis.com/css?family=Lora|Mukta+Mahee:400,500,600,700');

body {
    font-family: Lora, serif;
    color: #555;
}

a {
    text-decoration: none !important;
    color: #555;
}

a:hover {
    color: #d09c8e;
}


h1,h2,h3,h4,h5,h6 {
    font-family: 'Lora', serif;
}