.wrapperImage,
.wrapperContact,
.wrapperAddress {
    display: block;
    top: 0;
    left: 0;
    margin: 30px auto;
}

.wrapperAddress {
    margin-left: 0;
    margin-top: 20px;
}

.wrapperImage {
    margin-right: 0;
}

.wrapperAddressText {
    display: block;
    text-align: center;
    font-size: 1.4rem;

    &Contact {
        display: block;
        margin-top: 40px;
        text-align: center;
        font-size: 1.0 rem;
    }
}

.wrapperContact {
    width: 30vw;
}

.wrapperText {
    display: block;
    text-align: center;
    text-transform: uppercase;
}